/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
kosh-*.tar
/tmp/
/priv/static/assets/
/priv/static/cache_manifest.json
/priv/static/uploads
/priv/static/subjects_seed/
npm-debug.log
/assets/node_modules/
env.prod
env.dev
.docker/*   