<%!-- Header --%>
<header>
  <.live_component
    module={KoshWeb.NavComponent}
    id="main-nav"
    current_path={@current_path}
    current_user={@current_user}
  />
</header>
<main class="">
  <div class="">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
