<!DOCTYPE html> <%!-- <html lang="en" class="[scrollbar-gutter:stable]"> --%>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <%!-- <.live_title 
    suffix=" · Milli Archives Foundation"
    > --%>
    <.live_title>
      <%= assigns[:page_title] || "Milli Archives Foundation" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <%!-- Add Noto Sans Font --%>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white flex flex-col min-h-screen">
    <div class="grow"><%= @inner_content %></div>

    <footer class="px-4 py-4 sm:px-6 xl:px-32 xl:py-12 flex flex-col items-center gap-4 sm:flex-row sm:justify-between ">
      <div><img src={~p"/images/logo.svg"} alt="App Logo" /></div>
      <p class="text-secondary-purple text-caption-14 md:text-body-sm-16 lg:text-body-md-18 text-center sm:text-left">
        Milli Archives Foundation, WS No.9, Golden Square, No. 403 Eden Park 20 Vittal Mallya Road,<br />Bangalore 560 001, Karnataka, India.
      </p>
      <div class="flex flex-col font-semibold text-secondary-purple text-caption-14 lg:text-body-md-18 px-1 text-center sm:text-left">
        <p>About Milli</p>
        <p>Search Repository</p>
      </div>
      <div class="flex gap-3">
        <div class="w-7 h-7 border border-primary-purple"></div>
        <div class="w-7 h-7 border border-primary-purple"></div>
        <div class="w-7 h-7 border border-primary-purple"></div>
      </div>
    </footer>
  </body>
</html>
